/* Image Slider Content Overlay, CTAs and Titles */

/********************  Content overlay  ********************/
.image-slider__content {
  position: absolute;
  bottom: var(--slider-gap-bottom-content);
  left: var(--slider-content-gap-horizontal);
  right: var(--slider-content-gap-horizontal);
  color: var(--slider-text-color);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  pointer-events: none;
}

/* Content becomes interactive on active slide */
.image-slider__slide[aria-current="true"] .image-slider__content {
  pointer-events: auto;
}

/* Content visibility on active slide */
.image-slider__title,
.image-slider__description {
  color: var(--slider-text-color);
  opacity: 0;
  transition: opacity var(--slider-transition-duration) var(--slider-transition-timing);
}

.image-slider__slide[aria-current="true"] .image-slider__title,
.image-slider__slide[aria-current="true"] .image-slider__description {
  opacity: 1;
}

/********************  CTA buttons  ********************/
.image-slider__ctas {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  gap: var(--slider-cta-gap);
  transition: opacity var(--slider-transition-duration) var(--slider-transition-timing), transform var(--slider-transition-duration) var(--slider-transition-timing);
}

.image-slider__slide[aria-current="true"] .image-slider__ctas {
  opacity: 1;
}
