/* Image Slider Responsive Styles */

/********************  Responsive tweaks  ********************/
@media (hover: none) {
  .image-slider__arrows {
    display: none;
  }
}

@media (min-width: 768px) {
  .image-slider {
    --blur-amount: 6px;
  }

  .image-slider__container {
    max-width: var(--page-max-width, 1450px);
    min-width: min(var(--page-medium-width, 1250px), 90vw);
  }

  .image-slider__content {
    max-width: 60ch;
  }

  .image-slider__cta-button {
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .image-slider__arrows {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .image-slider__container {
    width: 100%;
    max-width: min(90%, var(--page-max-width, 1450px));
  }
}

@media (max-width: 480px) {
  .image-slider__container {
    width: 100%;
    max-width: min(100%, var(--page-max-width, 1450px));
  }
}