<div class="product-card__price"
            itemprop="offers"
            itemscope
            itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
    {%- # Sale price display -%}
    <span class="price{% if show_compare_at_price %} price--sale{% endif %}"
            itemprop="price"
            content="{{ current_variant.price | divided_by: 100.00 }}">
        {{- current_variant.price | money -}}
    </span>

    {%- # Compare at price -%}
    {% if show_compare_at_price %}
    <span class="price price--compare"
            data-compare-price>
        {{- current_variant.compare_at_price | money -}}
    </span>
    {% endif %}
</div>