/* Price
    ========================================================================== */

.product-card__price {
  display: flex;
  align-items: baseline;
  gap: var(--card-info-spacing);
  font-size: var(--main-font-size);
  font-weight: 500;
  color: var(--color-price);
  white-space: nowrap;
  padding-top: 2px;
}

.price--compare,
.compare-at-price {
  color: #870000;
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
  font-size: var(--sub-font-size);
}

.price--from,
.from-price {
  color: #a5a5a5;
  font-size: var(--main-font-size);
}

.sale-price {
  font-weight: 600;
}